**/Make/linux*/
**/lnInclude/
**/__pycache__/
**/processor*/
**/polyMesh/
**/log.*
**/postProcessing/
**/VTK/
**/mesh.foam
**/preview.png
**/quality.json
**/config.resolved.json
**/0/
**/[1-9]*/
!**/0.backup/
runs/
